<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381558088496-n6hfqgmsojv80jnd2rcthdfanuis80jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381558088496-n6hfqgmsojv80jnd2rcthdfanuis80jt</string>
	<key>API_KEY</key>
	<string>AIzaSyBWgVSQyhpzm4KMehwO_k_R5jJrkEx2djY</string>
	<key>GCM_SENDER_ID</key>
	<string>381558088496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takuyahara.firesotretestapp</string>
	<key>PROJECT_ID</key>
	<string>firestore-test-app-30b51</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-test-app-30b51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381558088496:ios:8135b97c5f4d95c6381ef5</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-test-app-30b51.firebaseio.com</string>
</dict>
</plist>